.carousel {
  position: relative;
  top: 40px;
}
.changeBackground:hover {
  background: black;
  cursor: pointer;
  color: white;
}

.loader {
  position: relative;
  text-align: center;
  top: 200px;
}

.selector {
  font-size: 10px;
  padding: 0px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: relative;
  left: 20px;
  top: 100px;
}

.plusIcon1 {
  position: relative;
  left: 1px;
  top: 0px;
  width: 15px;
  height: 15px;
  margin: 5px;
}

.legend {
  background: transparent;
}

.carousel .slide .legend {
  position: relative;
  background: transparent;
  top: 60px;
  bottom: 0px;
  left: 20px;
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 32px;
  text-align: left;
  color: white;
  font-weight: 800;
}
