@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'rel='stylesheet');

#bottom-pages {
	position: relative;
	object-fit: contain;
	display: flex;
	flex-direction: column;
	order: 2;
}

.btn-outline-dark {
	color: black;
	border-color: black;
}

.page-button {
	color: black;
	width: 30px;
	font-family: 'Nunito Sans', sans-serif;
}

.page-button:hover {
	text-decoration: none;
	color: white;
}
